MONGODB_URI=
JWT_SECRET=
BCRYPT_ROUNDS=
EMAIL_USER=
EMAIL_PASSWORD=


RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_API_URL=http://localhost:3000

WHATSAPP_API_URL=<your_api_url>
WHATSAPP_ACCESS_TOKEN=<your_token>
WHATSAPP_BUSINESS_PHONE=<phone_with_country_code>